numpy
scipy
pandas
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
wfdb
faiss-cpu
pypdf
sentence-transformers
streamlit
bcrypt
neurokit2
pymongo
dnspython
reportlab
google-genai
matplotlib
pytesseract pillow